# Contoh saja. Salin ke .env lalu ganti semua nilai kredensial.
BMKG_API_KEY=example-bmkg-change-me
PVMBG_TOKEN=example-pvmbg-change-me
AGGREGATOR_TOKEN=example-aggregator-change-me
POSTGRES_USER=aat
POSTGRES_PASSWORD=example-database-change-me
POSTGRES_DB=aat
BMKG_PORT=8081
PVMBG_PORT=8082
AGGREGATOR_PORT=8083
BMKG_DELAY_MS=100
PVMBG_DELAY_MIN_MS=500
PVMBG_DELAY_MAX_MS=3000
EVENT_INTERVAL_SECONDS=10
DB_MAX_CONNS=5
